
.App {
 margin: 20px;
}

.title{
  font-size: 35px;
  background: -webkit-linear-gradient(left,#8A2387,#E94057,#F27121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.Input {
  text-align: center;
  color: #9C9C9C;
}
